<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    <include resource="logback/logback-base.xml"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="errorLog"/>
        <appender-ref ref="warnLog"/>
        <appender-ref ref="infoLog"/>
        <appender-ref ref="debugLog"/>
    </root>
    <logger name="jdbc.sqlonly" level="INFO" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />
    <logger name="jdbc.sqltiming" level="INFO" />
</configuration>